@charset "utf-8";

.bg-img {
  background-image: url("https://learnwithnakamura.s3.ap-northeast-1.amazonaws.com/bootstrap5/bOy4OPu98lI.jpg");
  /* 指定のdivタグ全体を画像で覆う */
  background-size: cover;
  background-position: center 30%;
}

body {
  font-family: "Hiragino Kaku Gothic ProN", "メイリオ", sans-serif;
}