@charset "UTF-8";

html {
  font-size: 100%;
}
body {
  color: #333;
  font-family: 'メイリオ', 'Meiryo', sans-serif;
}
a {
  color: #333;
  text-decoration: none;
  transition: 0.3s;
}
a:hover {
  opacity: 0.5;
}
img {
  max-width: 100%;
  vertical-align: bottom;
}
li {
  list-style: none;
}

/*-------------------------------------------
Header
-------------------------------------------*/
#header {
  max-width: 1080px;
  height: 150px;
  padding: 35px 30px 15px 30px;
  margin: 0 auto;
}
#header .flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 35px;
}
#header .flex .logo {
  width: 100%;
  max-width: 358px;
  margin-right: 20px;
}
#header .flex .logo img {
  width: 100%;
}
#header .flex .staff {
  width: 240px;
  height: 44px;
  background-color: #1ddb07;
  border-radius: 12px;
  font-size: 13px;
  font-weight: bold;
  padding: 3px;
}
#header .flex .staff a {
  width: 100%;
  height: 100%;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  border: solid 1px #fff;
}
#header .breadcrumb {
  display: flex;
  align-items: center;
}
#header .breadcrumb li {
  font-size: 11px;
}
#header .breadcrumb li a {
  color: #1558d6;
}

/*-------------------------------------------
Top
-------------------------------------------*/
#top .btn-green {
  margin-bottom: 120px;
}
#top .mainvisual {
  margin-bottom: 70px;
}
#top .mainvisual img {
  width: 100%;
  height: 500px;
  object-fit: cover;
}
#top .lead {
  font-size: 13px;
  line-height: 1.6;
  margin-bottom: 100px;
}

/*-------------------------------------------
一覧
-------------------------------------------*/
#list {
  margin-top: 45px;
}
#list .page-title {
  margin-bottom: 80px;
}

/*-------------------------------------------
詳細
-------------------------------------------*/
#detail {
  max-width: 1080px;
  display: flex;
  justify-content: space-between;
  padding: 0 30px;
  margin: 45px auto 0 auto;
}
#detail main {
  max-width: 640px;
  margin-right: 8%;
}
#detail .page-title {
  margin-bottom: 50px;
}
#detail .staff-img {
  margin-bottom: 40px;
  text-align: center;
}
#detail .staff-img img {
  width: 100%;
  max-width: 210px;
  border-radius: 50%;
  border: solid 10px #f1f1f1;
}
#detail .datetime {
  font-size: 11px;
}
#detail .sns {
  display: flex;
  margin: 10px 0 70px 0;
}
#detail .sns a {
  width: 34px;
  height: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 1px #707070;
  border-radius: 50%;
}
#detail .sns a:first-of-type {
  margin-right: 5px;
}
#detail .sec p {
  font-size: 13px;
  line-height: 2;
  margin-bottom: 30px;
}
#detail .sec p:last-of-type {
  margin-bottom: 0;
}
#detail .sec {
  margin-bottom: 80px;
}
#detail .sec .section-title {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 30px;
}
#detail .sec .img-left {
  width: 43%;
  border-radius: 20px;
  margin: 0 30px 25px 0;
  float: left;
}
#detail .sec .img-right {
  width: 43%;
  border-radius: 20px;
  margin: 0 0 25px 30px;
  float: right;
}
#detail .sec .clearfix::after {
  content: "";
  clear: both;
  display: block;
}
#detail .btn-green {
  margin-bottom: 60px;
}

/*-------------------------------------------
Sidebar
-------------------------------------------*/
#sidebar {
  max-width: 258px;
  flex-shrink: 0;
}
#sidebar .side-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 15px;
}
#sidebar .side-staff-list li {
  border-top: dashed 1px #727272;
  padding: 20px 0;
}
#sidebar .side-staff-list li:last-of-type {
  border-bottom: dashed 1px #727272;
}
#sidebar .side-staff-list li a {
  display: flex;
  align-items: center;
}
#sidebar .side-staff-list .img {
  max-width: 60px;
  margin-right: 10px;
}
#sidebar .side-staff-list .img img {
  width: 100%;
  border-radius: 50%;
  border: solid 2px #f1f1f1;
}
#sidebar .side-staff-list .title {
  font-size: 13px;
}
#sidebar .side-staff-list .datetime {
  font-size: 11px;
}

/*-------------------------------------------
共通
-------------------------------------------*/
.container {
  max-width: 1020px;
  padding: 0 20px;
  margin: 0 auto;
}
.page-title {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 30px;
}

/* スタッフリスト */
.staff-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 30px;
}
.staff-list li {
  width: 28%;
  margin-right: 8%;
  margin-bottom: 70px;
}
.staff-list li:nth-of-type(3n) {
  margin-right: 0;
}
.staff-list li .img {
  display: block;
  margin-bottom: 40px;
  text-align: center;
}
.staff-list li .img img {
  width: 100%;
  max-width: 210px;
  border-radius: 50%;
  border: solid 10px #f1f1f1;
}
.staff-list li .text {
  position: relative;
}
.staff-list li .new {
  position: absolute;
  top: -22px;
  left: -22px;
}
.staff-list li .title {
  display: block;
  font-weight: bold;
  margin-bottom: 4px;
}
.staff-list li .datetime {
  font-size: 11px;
  margin-bottom: 8px;
}
.staff-list li .description {
  font-size: 13px;
  margin-bottom: 8px;
}
.staff-list li .link {
  font-size: 13px;
  position: relative;
}
.staff-list li .link::before {
  content: '';
  width: 26px;
  height: 1px;
  background: #333;
  position: absolute;
  bottom: 0;
  right: -40px;
}
.staff-list li .link::after {
  content: '';
  width: 10px;
  height: 1px;
  background: #333;
  position: absolute;
  bottom: 3px;
  right: -42px;
  transform: rotate(35deg);
}

/* ページナビゲーション */
.page-navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: solid 5px #1ddb07;
  border-bottom: solid 5px #1ddb07;
  font-size: 13px;
  padding: 15px 52px;
  margin-bottom: 110px;
}
.page-navigation a {
  font-size: 13px;
}
.page-navigation .prev,
.page-navigation .next {
  position: relative;
}
.page-navigation .prev::before,
.page-navigation .next::before {
  content: '';
  width: 14px;
  height: 1px;
  background: #707070;
  position: absolute;
  bottom: 8px;
}
.page-navigation .prev::after,
.page-navigation .next::after {
  content: '';
  width: 8px;
  height: 1px;
  background: #707070;
  position: absolute;
  bottom: 11px;
}
.page-navigation .prev::before {
  left: -23px;
}
.page-navigation .next::before {
  right: -23px;
}
.page-navigation .prev::after {
  left: -24px;
  transform: rotate(-35deg);
}
.page-navigation .next::after {
  right: -24px;
  transform: rotate(35deg);
}

/* ボタン */
.btn-green a {
  width: 240px;
  height: 44px;
  background-color: #1ddb07;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 13px;
  font-weight: bold;
  padding-right: 40px;
  margin: 0 auto;
  position: relative;
}
.btn-green a::before{
  content: '';
  width: 26px;
  height: 1px;
  background: #fff;
  position: absolute;
  bottom: 20px;
  right: 30px;
}
.btn-green a::after{
  content: '';
  width: 10px;
  height: 1px;
  background: #fff;
  position: absolute;
  bottom: 24px;
  right: 30px;
  transform: rotate(35deg);
}

/* バナー */
.banner-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 22px;
}
.banner-list li {
  width: 22%;
  margin-right: 4%;
  margin-bottom: 26px;
}
.banner-list li:nth-of-type(4n) {
  margin-right: 0;
}

/*-------------------------------------------
Footer
-------------------------------------------*/
#footer {
  background-color: #f5f5f5;
  padding: 50px 0 30px 0;
}
#footer .inner {
  max-width: 1080px;
  display: flex;
  justify-content: space-between;
  padding: 0 30px;
  margin: 0 auto 50px auto;
}
#footer .info .site-title {
  font-weight: bold;
  margin-bottom: 16px;
}
#footer .info .text {
  font-size: 12px;
  line-height: 1.7;
}
#footer .link-list {
  width: 250px;
  display: flex;
  flex-wrap: wrap;
}
#footer .link-list li {
  width: 120px;
  height: 40px;
  background-color: #fff;
  border: solid 1px #d6d5d5;
  margin-bottom: 10px;
}
#footer .link-list li:nth-child(odd) {
  margin-right: 10px;
}
#footer .link-list li a {
  width: 100%;
  height: 100%;
  font-size: 13px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#footer .copyright {
  font-size: 12px;
  text-align: center;
}

/*-------------------------------------------
SP
-------------------------------------------*/
@media screen and (max-width: 640px) {
  /*-------------------------------------------
  Header
  -------------------------------------------*/
  #header {
    height: auto;
    padding: 26px 30px 18px 30px;
  }
  #header .flex {
    flex-direction: column;
    margin-bottom: 20px;
  }
  #header .flex .logo {
    max-width: 268px;
    margin-right: 0;
  }
  #header .flex .staff {
    display: none;
  }

  /*-------------------------------------------
  トップ
  -------------------------------------------*/
  #top .btn-green {
    margin-bottom: 80px;
  }
  #top .mainvisual {
    margin-bottom: 40px;
  }
  #top .mainvisual img {
    height: auto;
    object-fit: contain;
  }
  #top .lead {
    margin-bottom: 80px;
  }

  /*-------------------------------------------
  詳細
  -------------------------------------------*/
  #detail {
    flex-direction: column;
  }
  #detail main {
    max-width: 100%;
    margin-right: 0;
  }
  #detail .page-title {
    font-size: 28px;
  }
  #detail .sec {
    margin-bottom: 50px;
  }
  #detail .sec .section-title {
    margin-bottom: 25px;
  }
  #detail .sec .img-left {
    width: 100%;
    margin-right: 0;
    float: none;
  }
  #detail .sec .img-right {
    width: 100%;
    margin-left: 0;
    float: none;
  }
  #detail .btn-green {
    margin-bottom: 50px;
  }

  /*-------------------------------------------
  Sidebar
  -------------------------------------------*/
  #sidebar {
    display: none;
  }

  /*-------------------------------------------
  共通
  -------------------------------------------*/
  .container {
    padding: 0 30px;
  }
  .page-title {
    font-size: 24px;
    margin-bottom: 25px;
  }
  .staff-list {
    flex-direction: column;
  }
  .staff-list li {
    width: 100%;
    margin: 0 0 65px 0;
  }
  .staff-list li .text {
    padding: 0 20px;
  }
  .staff-list li .new {
    left: -2px;
  }

  .page-navigation {
    padding: 15px 24px;
  }

  .btn-green a {
    margin: 0 auto;
  }
  .banner-list {
    display: none;
  }

  /*-------------------------------------------
  Footer
  -------------------------------------------*/
  #footer {
    padding: 40px 0 30px 0;
  }
  #footer .inner {
    flex-direction: column-reverse;
    margin: 0 auto 30px auto;
  }
  #footer .link-list {
    margin: 0 auto 16px auto;
  }
  #footer .copyright {
    padding-left: 30px;
    text-align: left;
  }
}