@charset "utf-8";

/* common */

html {
  font-size: 100%;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  /* 文字の行間を設定 */
  line-height: 1.5;
}

img {
  max-width: 100%;
  height: auto;
}

.wrapper {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 16px;
}

a {
  text-decoration: none;
  color: inherit;
  transition: oppacity 0.5s;
}

a:hover {
  opacity: 0.7;
}

ul {
  list-style: none;
}

/* header */

header .wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

.logo {
  width: 150px;
}

header form {
  padding: 10px 15px;
  width: 400px;
  border: 1px solid #f1f1f1;
  border-radius: 2em;
}

nav ul {
  display: flex;
  gap: 7px;
}

nav li a {
  display: flex;
  flex-direction: column;
  font-size: 11px;
  text-align: center;
}

nav li a i {
  font-size: 20px;
}

.mv img {
  margin-top: 10px;
  min-height: 250px;
  object-fit: cover;
}

/* main */

.goods ul {
  margin-top: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.goods {
  padding top: 50px;
}

.goods ul li h3 {
  margin-top: 5px;
  /* 「1rem」が「16px」 */
  font-size: 0.9rem;
}

.btn {
  display: block;
  margin: 50px auto;
  width: 100%;
  max-width: 300px;
  line-height: 50px;
  background-color: #000000;
  color: #ffffff;
  text-align: center;
}

/* footer */

footer {
  background-color: #000000;
  text-align: center;
  color: #ffffff;
  height: 111px;
  list-style: none;
  padding: 30px 0;
}

.sns {
  display: flex;
  justify-content: center;
  gap: 20px;
}

small {
  display: block;
  margin-top: 20px;
  font-size: 0.7rem;
}

footer ul li a:hover,
footer ul li a:active {
  opacity: .7;
}

/* ressponsive */

@media(max-width: 750px){
  header form {
    display: none;
  }
  .goods ul {
    grid-template-columns: 1fr 1fr;
  }
}